body{
  background:#2c2b2a7d;
}
.encabezado{
    position: relative;
    display: flex;
    width: 1360px;
    height: 90px;
    background: #b4cbd1;
}
#LogoAlura{    
    position: relative;
    width: 30px;
    height: 40px;
    top: 40px;
    left: 30px;
}
.caja{
    display: inline-block;
    position: relative;
    width: 1360px;
    height: 530px;
    background: linear-gradient(#ddeaf3bd,#000000b5),linear-gradient(#37706fde,#a58a8ab8);
}
.caja2{
    display: inline-block;
    position: relative;
    width: 445px;
    height: 570px;
    background: url(imagenes/Muneco.png) no-repeat center 56px /80% #000000a6;
    box-shadow: 10px -10px 19px 2px rgb(0 0 0 / 78%);
    left: 804px;
    top: -42px;
    border-radius: 21px;
}
.aviso1{
    position: absolute;
    top: 385px;
    left: 58px;
    font-size: 30px;
    color: #65bfff;
}
.aviso2{
    position: absolute;
    top: 435px;
    left: 20px;
    font-size: 20px;
    color: #00ffad;
}
.inputText{
    position: absolute;
    height: 471px;
    width: 670px;
    top: 10px;
    left: 90px;
    font-size: 23px;
    background: #61817e7a;
    color: white;
    border-radius: 2pc;
    padding: 4px 10px 0px 16px;
}
.outPutText{
    position: absolute;
    width: 423px;
    height: 513px;
    left: 8px;
    top: 10px;
    background: #ffffff00;
    font-size: 23px;
    padding: 2px 2px 2px 2px;
    color: aquamarine;
    border: none;
}
#botones {
    position: relative;
    display: inline-block;
    width: 1150px;
    height: 45px;
    top: -86px;
    font-size: 12px;
    border-radius: 21px;
    background: none;
    padding: 0px 50px 3px 49px;
}
#encripta{
    position: absolute;
    width: 236px;
    height: 42px;
    left: 140px;
    border-radius: 14px;
    font-size: 23px;
    background: linear-gradient(#dae3fff0, #e99595a6);
}
#encripta:hover{
    transform: scale(1.09);
    color: #420099
}
#desencripta{
    position: absolute;
    width: 236px;
    height: 42px;
    left: 480px;
    border-radius: 14px;
    font-size: 23px;
    background: linear-gradient(#dae3fff0, #e99595a6);
}
#desencripta:hover{
    transform: scale(1.09);
    color: #008207;
}
#copiar{
    position: absolute;
    width: 236px;
    height: 42px;
    left: 922px;
    border-radius: 14px;
    font-size: 23px;    
    background: linear-gradient(#dae3fff0, #e99595a6);
}
#copiar:hover{
    transform: scale(1.09);
    color: #8d0000;
}
footer{
    position: relative;
    width: 1360px;
    height: 200px;
    background: #2c2c2c;
    top: -94px;
}
.logoOne{
    position: absolute;
    top: 80px;
    left:120px;
}
footer a{
    left: 350px;
    position: absolute;
}
#cursosAlura{
    left: 18px;
    position: absolute;
}
#linkedin{    
    width: 58px;
    position: absolute;
    top: 75px;
}
.cursosAlura{
    position: absolute;
    width: 82px;
    height: 62px;
    top: 75px;
}
#githubLink{    
    left: 350px;
    position: absolute;
}
#logoGitHub{    
    width: 55px;
    height: 57px;
    position: absolute;
    top: 75px;
    left: 125px;
}